{
    "service": {
        "name": "web",
        "port": 8000,
        "connect": {
            "proxy": {
                "exec_mode": "daemon",
                "command":   [%s],
                "config": {
                    "upstreams": [
                        {
                            "destination_name": "redis",
                            "local_bind_port": 1234
                        }
                    ]
                }
            }
        }
    }
}